<h2>Herzlich Willkommen auf MyMKM</h2>
<h5><%= @msg %></h5>
<p>Da im Alpha-Stadium sind zur Zeit nur Read-Only Aktionen möglich.</p>
<a href="/down/MyMKM.apk" data-ajax="false">Android-App downloaden</a>
<p>Zum Installieren muss "Einstellungen -> Sicherheit -> Unbekannte Quellen" aktiviert sein.</p>
