<h2>Herzlich Willkommen auf MyMKM</h2>
<h5><%= @msg %></h5>
<p>Da im Alpha-Stadium sind zur Zeit nur Read-Only Aktionen möglich.</p>
<a href="/down/MyMKM.apk" type="application/vnd.android.package-archive">Android-App downloaden</a>
