<form action="/login" method="post">
	<div data-role="fieldcontain">
    <label for="user">Benutzername:</label>
    <input type="text" name="user" id="user" value="" />
    <label for="pass">Passwort:</label>
    <input type="password" name="pass" id="pass" value="" />
	</div>

	<button type="submit">Einloggen</button>
</form>