<div data-role="collapsible">
	<h4>Unbezahlte Bestellungen</h4>
	<p><%= @boughtList %></p>
</div>

<div data-role="collapsible">
	<h4>Bezahlte Bestellungen</h4>
	<p><%= @paidList %></p>
</div>

<div data-role="collapsible">
	<h4>Gesandte Bestellungen</h4>
	<p><%= @sentList %></p>
</div>
